name: run-bot

on:
  schedule:
    - cron: '0 * * * *'
  workflow_dispatch:

jobs:
  run-bot:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: pip install gspread oauth2client

      - name: Run monitor
        env:
          GCP_JSON: ${{ secrets.GOOGLE_SERVICE_ACCOUNT_JSON }}
          GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}
        run: python monitor.py
